:root{
  --accent-color:#b4dcfe;
}

section[class^="container"] {
  padding: 4rem 2rem;
}
@media screen and (min-width:1024px) {
  section[class^="container"] {
    padding: 4rem;
  }
  nav [class^="container"] {
    padding: 0 4rem;
  }
}

section:not(first-of-type){
  text-align: center;
}

a {
  color:#6e32f1;
  text-decoration: none;
}

a:hover {
  color:#b4dcfe;
}

section .card, .btn-outline-dark {
  border: 2px solid #454545;
  box-shadow: 4px 4px #000000;
  transition: all 0.4s;
}

.btn-outline-dark:hover {
  box-shadow: 4px 4px var(--accent-color);
}


/*NAVBAR*/
.navbar {
  background-color: white;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 20px;
  transition: all 0.5s;
}

.navbar-nav .nav-link:hover {
  color: var(--accent-color)
}
 
@media screen and (min-width:1024px) {
  .navbar-nav nav-item {
    padding: 1rem;
  }
}

.navbar-brand img {
  width: 60px; 
  height: auto; 
}

/*header*/
.display-2 {
  font-weight: bold;
  font-size: 80px;
}

/*Girl*/
section.girl {
  background-color: rgb(243, 238, 255);
  padding-top: 150px;
  padding-bottom: 2%;
  color: #694fb0;
  font-size: 17px;
}

@media screen and (min-width:576px) {
  section.girl { 
  text-align: center;
  }
  section.girl img{
    width: 70%
  }
}

/*Achievements*/
.display-5 {
  font-weight: bold;
  font-size: 37px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.icon-with-border {
  border: 2px solid #bbbce8;
  padding: 15px; 
  border-radius: 5px;
}

/*section.card*/
section .card, .btn-outline-dark {
  border: 2px solid #454545;
  box-shadow: 4px 4px #000000;
}

.btn-outline-dark:hover {
  box-shadow: 4px 4px var(--accent-color);
}


section .card {
  padding: 20px;
  margin: 10px;
  border: 2px solid #000000;
  box-shadow: 4px 4px #000000;
  max-width: 22rem;
  margin-inline: auto;
}

section.achievements i {
  font-size: 2rem;
  margin: 1rem auto 0;
  border: 2px solid #000000;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
}

section.achievements p {
  line-height: 1.9rem;
}

/*About Me*/
@media screen and (min-width:1024px){
section.aboutme .container {
  width: 50%;
}
}

.aboutme {
  background-color: rgb(243, 238, 255);
  padding: 15px;
  padding-bottom: 40px;
  padding-top: 0.2rem;
}

section.aboutme p{
  line-height: 2.5rem;
}

/* Resume */
hr {
  border: 1px solid #270788;
  margin: 20px 0; 
}


/*Projects*/
section.projects .card {
  max-width: 17rem;
  text-align: left;
}

section.projects .card img{
  max-width: 80%;
  margin: 1rem auto;
  align-items: center;
  max-height: fit-content;
}